@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Desenvolvedor .NET Senior Remoto</h1>
    <hr />
    <br />
    <h1 class="display-6">Pretensão R$ 10.000,00 CLT + beneficios</h1>
    <h1 class="display-6">Desafio realizado em 21/12/2012</h1>
</div>