@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">Desafio que marcou minha jornada</h1>
    <hr />
    <br />   
</div>

<div class="text-left">
    <h4>
        <small class="text-muted">
            <p>Recentemente estou participando de muitos processos onde alguns exigem teste prático para demosntramos nossas habilidades e experiencias.</p>         
            <p>Muitos dos testes são semelhantes no uso de tecnologias e padrões, diferenciando apenas nas regras de negócio.</p>
            <p>
                O desafio que mais me chamou a atenção olhava um pouco além do técnico, era preciso apresentar as habilidades com "negócio" e visão de melhorias tecnologicas que poderiam ser realizadas no desafio proposto.
            </p>
            <p>
                No final do desafio precisava montar perguntas que eu faria para o PO visando o refinamento para futuras implementações ou melhorias do projeto desenvolvido.
            </p>
            <p>
            Também tive que identificar os possíveis pontos de melhoria, implementação de padrões, visão do projeto sobre arquitetura/cloud, etc na solução construida.
            </p>
            <p>
            O objetivo era desenvolver uma API que permita aos usuários organizar e monitorar suas tarefas diárias.
            </p>
            <p>
            O desenvolvimento foi em RESTful API utilizando de DDD com 80% de cobertura de testes de unidade para validar suas regras de negócio.
            </p>
            <p>
            Segue os detalhes das tecnologias usadas neste desafio:
            </p>
            <ul>
                <li>ASP.NET Core Web API (.Net 6)</li>
                <li>Swashbuckle.Aspnetcore 6.5.0</li>
                <li>Docker compose</li>
                <li>MySql(8.0) como database</li>
                <li>EntityFrameworkCore 7.0.14</li>
                <li>Pomelo.EntityFrameworkCore.MySql 7.0.0</li>
                <li>xUnit 2.4.2</li>
                <li>Bogus 34.0.2</li>
                <li>Fluentassertions 6.12.0</li>
                <li>Moq 4.20.70</li>
            </ul>
        </small>
    </h4>
</div>